<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381658733216-hlkokl7rpld9l7k4537vc8aj2pk9vdmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381658733216-hlkokl7rpld9l7k4537vc8aj2pk9vdmk</string>
	<key>API_KEY</key>
	<string>AIzaSyC5BF5SdFQIVfu8uK6acoZPYiB0xS_BB3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>381658733216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.page.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-7a49b</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-7a49b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381658733216:ios:53075f818e03b5b81a87c5</string>
</dict>
</plist>